
.tooltip_highlight {
    z-index: 9999; border-radius: 6px; display: inline-block;
    position: absolute;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    transition: all 400ms; background: black;
    ul > li {
        font-size: 0.65em; padding: 4px 7px; cursor: pointer; display: inline-block;
        color: white; margin: 5px; border-radius: 3px;
    }
    ul > li.highlight-active {
        background: white; color: black;
    }
}

.tooltip_section {
    background: white; z-index: 9999; border-radius: 8px; display: inline-block;
    width: 95px;
    position: fixed;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    transition: all 400ms; background: black;

    ul > li {
      font-size: 0.65em; padding: 10px; cursor: pointer; display: block;
      color: white;
    }
}



.tooltip_blockcreation {
    z-index: 9999; border-radius: 6px; display: flex; flex-direction: column;
    position: fixed;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    transition: all 400ms; background: black; padding: 10px 20px 10px 15px;

    > h3 {
      color: white; font-size: 0.6em; padding: 7px 2px;

    }

    > input.blockCreation_input {
        margin: 12px 0; border-radius: 4px; outline: none; border: none; padding: 13px 8px;
        font-size: 0.6em;
    }

    section.blockCreation_blockchoices {
        height: 250px; overflow-y: scroll; padding-right: 8px;

        div.blockCreation_choice {
            display: flex; margin: 10px 0; border-radius: 5px; cursor: pointer;
            flex-direction: row;
            section.blockChoice_image {
                flex: 0;
                img {
                    width: 45px; border-radius: 6px;
                }
            }
            section.blockChoice_description {
                flex: 1; display: flex; flex-direction: column;
                margin-left: 10px; justify-content: center;
                h3 {
                    display: block; color: white; font-size: 0.6em;
                }
                p {
                    font-size: 0.5em; color: grey;
                }
            }

        }
        div.blockCreation_choice:hover .blockChoice_description {
            h3, p { color: black; }
        }
        div.blockCreation_choice:hover {
            background: white; box-shadow: 0 0 0 0 black;
        }
    }
    section.blockCreation_blockchoices::-webkit-scrollbar {  width: 7px; }
    section.blockCreation_blockchoices::-webkit-scrollbar-track { background: black; }
    section.blockCreation_blockchoices::-webkit-scrollbar-thumb { background: #555; border-radius: 3px; }
    section.blockCreation_blockchoices::-webkit-scrollbar-thumb:hover { background: white; }
}
