@import "../../../../_cssLibrary/class_variable.scss";


.welcome {

    display: flex; flex-direction: column;

    .welcome-links {

        width: 100%; margin: 30px 0 15px 0;

        a {
            text-decoration: underline; color: rgb(63, 63, 63); font-weight: 400;
            margin-top: 15px;
            display: block;
        }
    }
        
    .welcome-navigate {
        @include linkBlue; display: flex; width: fit-content; padding: 12px 13px; border-radius: 6px;
        font-size: 0.7em;
        margin: 10px 0;
    }
}